[user]
    username = saivigneshabishek
    name = Sai Vignesh Abishek
    email = sai@svabishek.com
    signingkey = ~/.ssh/id_ed25519.pub
[init]
    defaultBranch = main
[status]
    short = false
[core]
    pager = cat
[commit]
    gpgsign = true
[gpg]
    format = ssh
