@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 13px;
}

window#waybar {
    background-color: @base;
    color: @lavender;
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
    margin-right: 10px;
    margin-left: 4px;
    border: 2px solid @base;
}

#workspaces button:hover {
    background: @base;
    color: @blue;
}

#workspaces button.active {
    background-color: @base;
    color: @mauve;
}

#clock {
    background-color: @base;
    color: @text;
    margin-left: 10px;
}

#battery {
    background-color: @base;
    color: @green;
    margin-left: 10px;
}

#cpu {
    background-color: @base;
    color: @sky;
}

#memory {
    background-color: @base;
    color: @sky;
    margin-left: 3px;
}

#network {
    background-color: @base;
    color: @blue;
    margin-left: 10px;
}

#pulseaudio {
    background-color: @base;
    color: @lavender;
    margin-left: 10px;
}

#tray {
    background-color: @base;
    padding: 2px 2px;
    margin: 2px;
    border-radius: 1px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @base;
}
